#nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 2px solid rgb(77, 31, 0);
    background-color: rgb(114, 95, 83);
   }
ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
li {
    display: inline;
    border-right: 2px solid rgb(77, 31, 0);
    margin: 0px;
    padding: 10px;
}